<script>
    function wordCount(str) {
        return str.split(" ").length;
    }

    function readingTime(str) {
        const words = wordCount(str);
        const time = Math.ceil(words / 200);
        return time;
    }

    const postContent = document.querySelector(".content").textContent;
    const time = readingTime(postContent);
    document.getElementById("reading-time").textContent = `⏱️ Approx Read Time: ${time} mins`;
</script>
