<script>
    window.onload = function() {
        changeImageSourceByClass("wl-user-avatar", "https://i.imgur.com/D9DatWS.jpeg");
    };

    function changeImageSourceByClass(className, newSrc) {
        var images = document.getElementsByClassName(className);
        for (var i = 0; i < images.length; i++) {
            images[i].src = newSrc;
        }
    }
</script>
