<script>
    window.onload = function() {
        changeLabelTextByForAttribute("wl-nick", "Enter your name here:");
    };

    function changeLabelTextByForAttribute(forValue, newText) {
        var labels = document.getElementsByTagName('label');
        for (var i = 0; i < labels.length; i++) {
            if (labels[i].getAttribute('for') === forValue) {
                labels[i].textContent = newText;
                break;
            }
        }
    }
</script>
